img {
    max-width: 100%;
}

#article_container {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}