img {
    width: 100%;
}

#article_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    align-items: end;
    justify-items: center;
    background-color: bisque;
}

#first_article {
    align-self: start;
}

#page_header {
    display: grid;
    grid-auto-flow: column;
    height: 50px;
    background-color: firebrick;

    align-items: center;
    justify-items: start;
}

#page_header>nav {
    justify-self: end;
}

#page_header>img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

#article_container>article {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#image_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}